#tabla > thead {
  background-color: #0077ff;
  color: #000000;
  border-top: 2px solid rgb(255, 157, 0);
  border-bottom: 2px solid rgb(255, 157, 0);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
